<app-navbar></app-navbar>

<div style="padding :0px 25px " class="container">
  <div class="page-header">
    <h1 id="main_heading">
      Content Store
    </h1>
  </div>
  <div class="jumbotron">
    <h4 id="jumbotron_subtitle">
      Got bulk orders or almost similar orders ? Fill the order brief in excel
      sheet
    </h4>
    <br />
    <p id="jumbotron_content">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged.
    </p>
    <br />
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary btn-block">
          Order via Excel Sheet
        </button>
      </div>
    </div>
  </div>
  <p>
    <br />
  </p>
  <div class="row">
    <div
      style="margin-bottom: 40px;"
      class="col-md-4"
      *ngFor="let task of tasks"
    >
      <app-task [task]="task.payload.doc.data()"></app-task>
      <!-- #fdfefe -->
    </div>
  </div>

  <app-footer></app-footer>
</div>
