.jumbotron {
  padding: 30px;
  background-color: #f6fbfe;
  border: 0px;
}

.page-header {
  margin-bottom: 0px;
}

#main_heading {
  font-weight: 500;
  margin-bottom: 50px;
  font-family: Be Vietnam, sans-serif;
}

#jumbotron_subtitle {
  word-spacing: 3px;
  font-size: 18px;
  color: #00acc1;
}

#jumbotron_content {
  font-size: 14px;
}

.btn {
  background-color: transparent;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  font-size: 16px;
  border-radius: 5px;
}
