<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a style="width: 200px" class="navbar-brand" href="#">
        <img
          style="width:100%"
          src="https://www.ecell.in/esummit/expo/speakers/8.png"
        />
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#">Page 2</a></!-->

      <li>
        <div id="name">
          <span id="name_id">
            AB
          </span>
        </div>
      </li>
    </ul>
  </div>
</nav>
