<div class="row">
  <div class="col-md-12">
    <div class="footer">
      <i id="icons" class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      <i id="icons" class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
      <i id="icons" class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      <i id="icons" class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      <br />
      <p id="foots">
        Copyright @ 2019 White Panda Media Ltd.<br />All Rights Reserved
      </p>

      <ul id="end_links" style="list-style-type: none; ">
        <li id="table"><u>Privacy Policy</u></li>
        <li id="table"><u>Terms Of Services</u></li>
        <li id="table"><u>Service Agreement</u></li>
        <li id="table" style="border-right: none"><u>Contact Us</u></li>
      </ul>
    </div>
  </div>
</div>
